<%= form_for @matricula, :html => { :class => "form-horizontal matricula" } do |f| %>
  <div class="form-group">
    <%= f.label :aluno_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.collection_select(:aluno_id, Aluno.all, :id, :nome, {include_blank: true}, :class => 'form-control' ) %>
      <%=f.error_span(:aluno_id) %>
    </div>    
  </div>
  <div class="form-group">
    <%= f.label :curso_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.collection_select(:curso_id, Curso.all, :id, :nome, {include_blank: true}, :class => 'form-control') %>
      <%=f.error_span(:curso_id) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :data_matrícula, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.date_field :data_matricula, :class => 'form-control' %>
      <%=f.error_span(:data_matricula) %>
    </div>    
  </div>
  <div class="form-group">
    <%= f.label :ano, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">      
      <%= f.select(:ano, options_for_select((2000..Time.now.year).to_a.reverse), {include_blank: true}, { :class => 'form-control' }) %>
      <%=f.error_span(:ano) %>
    </div>  
  </div>
  <div class="form-group">
    <%= f.label :ativo, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.check_box :ativo, :class => 'checkbox' %>
      <%=f.error_span(:ativo) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :pago, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.check_box :pago, :class => 'checkbox' %>
      <%=f.error_span(:pago) %>
    </div>    
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                matriculas_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>